<%- include("./partials/nav.ejs") %>
<link href="/static/css/flavour.css" rel="stylesheet" type="text/css">


<section class="cards-wrapper">
    
    <form action="/vote" method="post">
        <h1>Icecream and stuff!</h1>
        
     
            <% for (let i=0; i < flavours.length; i++) { %>
                <div class="card">    
                <h1> <%=flavours[i].flavour%> </h1> 
                <p> <%=flavours[i].vote%> </p>
                <p> <%=flavours[i].description%> </p> 
                     <input type="radio" name="letsgo" value="<%=flavours[i].flavour%>" id="id">
                        <button>VOTE</button>
                    </div>
              
                <% } %>
    
        </form>¨
    
</section>

<%- include("./partials/footer.ejs") %>